@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

main {
    width: 500px;
    padding: 20px;
    margin-top: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main.ocultar {
    display: none;
}

main h1 {
    text-align: center;
    color: #fafafa;
    font-size: 2em;
    margin-bottom: 20px;
}

main #conteinerTarefas p {
    padding: 10px;
    text-align: center;
    color: #999;
}

main #tarefas {
    list-style: none;
    padding: 0;
}

main #tarefas li {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #444;
    color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

main #tarefas li:hover {
    background-color: #555;
    transform: translateY(-2px);
}

main #botaoAdicionarTarefa {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

main #botaoAdicionarTarefa:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

main #botaoAdicionarTarefa span {
    font-size: 2em;
    color: #ffffff;
}

#telaAdicionarTarefa {
    width: 500px;
    padding: 20px;
    display: none;
    margin-top: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#telaAdicionarTarefa.abrir {
    display: block;
}

#telaAdicionarTarefa form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#telaAdicionarTarefa #tituloEbotaoFecharTelaAdicionarTarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#telaAdicionarTarefa #tituloEbotaoFecharTelaAdicionarTarefa h1 {
    color: #fafafa;
    font-size: 1.5em;
}

#telaAdicionarTarefa #tituloEbotaoFecharTelaAdicionarTarefa span {
    font-size: 1.5em;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

#telaAdicionarTarefa #tituloEbotaoFecharTelaAdicionarTarefa span:hover {
    color: #0056b3;
}

#telaAdicionarTarefa input[type="text"], #telaAdicionarTarefa input[type="time"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #555;
    color: #fafafa;
}

#telaAdicionarTarefa input[type="button"] {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#telaAdicionarTarefa input[type="button"]:hover {
    background-color: #0056b3;
}

#telaAcessoTarefa {
    width: 500px;
    padding: 20px;
    display: none;
    margin-top: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#telaAcessoTarefa.abrir {
    display: block;
}

#telaAcessoTarefa #tituloEbotaoFecharTelaAcessoTarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#telaAcessoTarefa #tituloEbotaoFecharTelaAcessoTarefa h1 {
    color: #fafafa;
    font-size: 1.5em;
}

#telaAcessoTarefa #tituloEbotaoFecharTelaAcessoTarefa span {
    font-size: 1.5em;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

#telaAcessoTarefa #tituloEbotaoFecharTelaAcessoTarefa span:hover {
    color: #0056b3;
}

#descricaoTarefaAdicionada {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #444;
    color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#descricaoTarefaAdicionada span {
    font-weight: bold;
}

#descricaoTarefaAdicionada p {
    margin-top: 10px;
}

#telaAcessoTarefa input[type="button"] {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#telaAcessoTarefa input[type="button"]:hover {
    background-color: #0056b3;
}
