@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    
    background-color: rgb(10, 10, 10);
    
}

main {
    width: 500px;
    padding: 10px;

    margin-top: 50px;
    
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

main.ocultar {
    display: none;
}

main h1 {
    
    text-align: center;

    color: #fafafa;
    font-size: 1.5em;
}

main #tarefas p {
    padding: 10px;

    text-align: center;
}

main #botaoAdicionarTarefa {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    background-color: rgb(30,30,30);
    border-radius: 50%;
    cursor: pointer;
}

main #botaoAdicionarTarefa span {
    font-size: 1.5em;
    
    color: #fafafa;
}

#telaAdicionarTarefa {
    width: 500px;
    padding: 10px;

    display: none;

    margin-top: 50px;
    
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

#telaAdicionarTarefa.abrir {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#telaAdicionarTarefa h1 {
    text-align: center;

    color: #fafafa;
    font-size: 1.5em;
}


#telaAdicionarTarefa input[type="text"] {
    width: 300px;
    padding: 5px;

    border-radius: 5px;
    border: 0px;
    
    background-color: rgb(30,30,30);
}

#telaAdicionarTarefa input[type="time"] {
    padding: 5px;
    
    border: 0px;
    
    background-color: rgb(30,30,30);
    color: white;
}

#telaAdicionarTarefa input[type="button"] {
    width: 100px;
    padding: 5px;

    border-radius: 5px;
    border: 0px;

}

#telaAdicionarTarefa input[type="button"]:hover {
    text-decoration: underline;
}





